nav {
  display: flex;
  align-items: center;
  height: 11vh;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.nav_left {
  display: flex;
  padding-left: 50px;
}

.dropdown,
.search {
  padding-right: 4px;
}

.logo {
  width: 170px;
  height: 60px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.gun {
  width: 400px;
  font-size: 30px;
  font-weight: bold;
}

.icons_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.icons {
  display: flex;
  width: 20%;
  padding-right: 390px;
  justify-content: flex-start;
}

.fa-facebook,
.fa-twitter-square,
.fa-envelope,
.fa-share,
.fa-sign-in-alt {
  padding-right: 21px;
}

.buttons {
  padding-right: 20px;
}

.man_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.man_container img {
  width: 1000px;
}

.article {
  width: 50vw;
  margin-left: 25vw;
}

.wording {
  width: 80%;
}

.break::after {
  content: "\a\a";
  white-space: pre;
}

.theory {
  width: 100%;
  margin-top: 25px;
}

.picture {
  position: relative;
}

.universe {
  position: absolute;
  width: 13%;
  font-size: 9px;
  top: 150px;
}

.cosmos {
  font-size: 9px;
  width: 20%;
  position: absolute;
  left: 210px;
  top: 150px;
}

.telescope {
  font-size: 9px;
  width: 20%;
  position: absolute;
  left: 440px;
  top: 150px;
}

.coffee {
  font-size: 9px;
  width: 20%;
  position: absolute;
  left: 665px;
  top: 150px;
}

.time {
  position: absolute;
  width: 20%;
  top: 420px;
  font-size: 11px;
}

.problem {
  position: absolute;
  width: 20%;
  top: 420px;
  font-size: 11px;
  left: 230px;
}

.flactuation {
  position: absolute;
  width: 20%;
  top: 420px;
  font-size: 11px;
  left: 450px;
}

.expansion {
  position: absolute;
  width: 20%;
  top: 420px;
  font-size: 11px;
  left: 665px;
}

aside {
  float: right;
  margin-left: 20px;
}

.pick_image {
  width: 70px;
}

.pick {
  display: flex;
  font-size: 13px;
  align-items: center;
  margin-bottom: 3.5px;
  width: 50%;
}

.by {
  margin-top: 130px;
}
